/* assets/style.css */
.st-key-blue button {
    background-color: #2cd3d3;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.st-key-blue button:hover {
    background-color: #247797;
    color: white;
}

.st-key-blue button p {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
}

.st-key-green button {
    background-color: #0ad42c;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.st-key-green button:hover {
    background-color: #54e072;
    color: white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}